$sidenav-min-width-mobile-portrait: 60%;
$sidenav-min-width-mobile-landscape: 50%;
$sidenav-min-width-tablet: 30%;
$sidenav-min-width-desktop: 15%;

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #97cff1;
}

.container {
    flex-grow: 1;
}

.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: $sidenav-min-width-desktop;

    // Specific height for mobile devices in portrait mode.
    @media (max-width: 599px) and (orientation: portrait) {
        min-width: $sidenav-min-width-mobile-portrait;
    }

    // Specific height for mobile devices in landscape mode.
    @media (max-width: 959px) and (orientation: landscape) {
        min-width: $sidenav-min-width-mobile-landscape;
    }
}

.sidenav * {
    white-space: normal;
    overflow-wrap: break-word;
}

.content {
    width: 66%;
    margin: 30px auto;

    @media (max-width: 1200px) {
        width: 85%;
        margin-bottom: 130px;
    }
}

.sidenav a {
    border-radius: 4px;
    width: unset;
    margin: 8px;
}

.sidenav .active {
    background-color: #c0a9d2;
}

.active mat-icon {
    color: black;
}

.active span {
    font-weight: 500;
}

.footer {
    background-color: #ffdc5f;
    line-height: unset;
    white-space: unset;
}

.footer-content {
    width: 66%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

.footer-content a {
    color: black;
}

.footer-content .smaller-text {
    font-size: 12px;
}

.footer-logo {
    width: 34%;
    z-index: 100;
    transform: translateY(-76px);

    display: flex;
    justify-content: flex-end;
}

.fhv-logo {
    width: 173px;
}

@media (max-width: 599px) {
    .content {
        margin-bottom: 30px;
    }

    .footer {
        height: fit-content;
    }

    .footer-logo {
        margin-left: 15px;
        transform: none;
    }
}