<mat-toolbar class="header">
    <span>EthicsVision</span>
</mat-toolbar>

<div class="content" role="main">
    <router-outlet />
</div>

<mat-toolbar class="footer">
    <div class="footer-content">
        <span>EthicsVision</span>

        <span class="smaller-text">Copyright &copy; 2023 - <a href="https://www.fhv.at/forschungsethik-kommission"
                target="_blank" rel="noreferrer nofollow">Forschungsethik-Kommission der Fachhochschule Vorarlberg
                GmbH</a>
        </span>
    </div>

    <div class="footer-logo">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 460 460" class="fhv-logo">
            <path d="M10.8 346.8h337.5V234.3H10.8V121.7h337.6V9.1H461v450.2H10.9l-.1-112.5z"></path>
        </svg>
    </div>
</mat-toolbar>
