<table mat-table [dataSource]="dataSource">
    <!-- Entry ID -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let entry">{{ entry.id }}</td>
    </ng-container>

    <!-- CreatedAt -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Erstellt am</th>
        <td mat-cell *matCellDef="let entry">{{ (entry.createdAt | date:'short') || '/' }}</td>
    </ng-container>

    <!-- UpdatedAt -->
    <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Geändert am</th>
        <td mat-cell *matCellDef="let entry">{{ (entry.updatedAt | date:'short') || '/' }}</td>
    </ng-container>

    <!-- View -->
    <ng-container matColumnDef="viewButton">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><i>Ansehen</i></th>
        <td mat-cell *matCellDef="let entry">
            <a mat-icon-button [routerLink]="['/forms/1/view', entry.id]"><mat-icon>visibility</mat-icon></a>
        </td>
    </ng-container>

    <!-- Edit -->
    <ng-container matColumnDef="editButton">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><i>Editieren</i></th>
        <td mat-cell *matCellDef="let entry">
            <a mat-icon-button [routerLink]="['/forms/1/edit', entry.id]"><mat-icon>edit</mat-icon></a>
        </td>
    </ng-container>

    <!-- No Data Found -->
    <ng-container matColumnDef="no-data">
        <td mat-footer-cell *matFooterCellDef colspan="5">
            Keine {{ mode === 'WORK_IN_PROGRESS' ? 'offenen' : 'abgeschlossenen' }} Anträge
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="dataSource.data.length === 0 ? ['no-data'] : []"
        [hidden]="dataSource.data.length > 0" class="no-data-found"></tr>
</table>

<mat-paginator [length]="data?.total" [pageSize]="data?.limit ?? 5" />
