<a mat-button routerLink="/dashboard"><mat-icon>arrow_back_ios</mat-icon>zur Übersicht</a>

<mat-card>
    <mat-card-header>
        <mat-card-title *ngIf="formData">{{ formData.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="formData">{{ formData.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-vertical-stepper #stepper>
            <mat-step *ngFor="let step of steps; let i = index" [stepControl]="step.formGroup" [label]="step.title"
                [matTooltip]="step.description">
                <span class="step-description">{{ step.description }}</span>

                <form [formGroup]="step.formGroup" class="form">
                    <ng-container *ngFor="let control of step.formGroup.controls | keyvalue">
                        <mat-form-field
                            [class.hint-margin]="'null' !== getElementDetailsByTitle('description', control.key)">
                            <mat-label>
                                {{ getElementDetailsByTitle('title', control.key) }}
                            </mat-label>

                            <ng-container *ngIf="'TEXT_LONG' !== getElementDetailsByTitle('type', control.key)">
                                <input matInput [formControlName]="control.key" required
                                    (blur)="onInputBlur(control.key, step.formGroup)" [readonly]="mode === 'READ_ONLY'">
                            </ng-container>

                            <ng-container *ngIf="'TEXT_LONG' === getElementDetailsByTitle('type', control.key)">
                                <textarea matInput [formControlName]="control.key" required
                                    (blur)="onInputBlur(control.key, step.formGroup)"
                                    [readonly]="mode === 'READ_ONLY'"></textarea>
                            </ng-container>

                            <mat-hint *ngIf="'null' !== getElementDetailsByTitle('description', control.key)">
                                <em>{{ getElementDetailsByTitle('description', control.key) }}</em>
                            </mat-hint>
                        </mat-form-field>
                    </ng-container>

                    <div class="stepper-button-container">
                        <button mat-button matStepperPrevious *ngIf="i !== 0" class="stepper-button">Vorheriger
                            Abschnitt</button>
                        <button mat-button matStepperNext *ngIf="i !== steps.length - 1" class="stepper-button">Nächster
                            Abschnitt</button>
                        <button mat-button *ngIf="i === steps.length - 1 && mode === 'EDIT'" class="submit-button"
                            (click)="submit()">Antrag absenden</button>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </mat-card-content>
</mat-card>

<br>
